[Desktop Entry]
Type=Application
Name=unity-kbd-switcher
Exec=/usr/bin/env python /usr/share/unity-kbd-switcher/main.py
NoDisplay=true
StartupNotify=false
Terminal=false
